/* note need to divide in 2 becasue this will add in both side */
.comp-community-slider-container {
  padding: 0 0 0 0;
}
.comp-community-slider-container .slick-slide {
  margin: 0 4px;
}
.comp-community-slider-container .slick-list {
  margin: 0 -4px;
}
.comp-community-slider-container img {
  max-width: 100%;
}
/*  Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 40px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}
/* Arrows */
.slick-prev {
  left: -25px;
}
.slick-next {
  right: -25px;
}
.slick-prev,
.slick-next {
  font-size: 24px;
  font-weight: bolder;
  color: #000000;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}
.slick-action-container {
  display: flex;
  justify-content: space-between;
  max-width: 128px;
  margin: 42px auto;
}
/*----------Gallery Style---------------- */
.comp-gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px 12px;
  max-width: none;
  margin: 0 auto;
  padding: 0 0 0 0;
}
.comp-gallery-container .item-gallery {
  position: relative;
}
.comp-gallery-container .primary-content {
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  flex-direction: column;
  font-size: 22px;
  color: #ffffff;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.comp-gallery-container .secondary-content {
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  flex-direction: column;
  font-size: 22px;
  color: #ffffff;
  font-weight: bold;
  justify-content: flex-end;
  align-items: flex-start;
}
.comp-gallery-container img {
  max-width: 100%;
}
/* already included in global-style.less*/
/* Reminder: less file already imported in global.less */
/* File path: less/components/checkboxes/site-custom-checkbox.less */
/* already included in global-style.less*/
/* less/component/_headings.less */
/* Reminder: less file already imported in global.less */
/* File path: less/components/form-groups/site-form-group.less */
/* already included in global-style.less*/
/* already included in global-style.less*/
/* less/component/_modal.less */
/* less/component/_paragraphs.less */
/* Reminder: less file already imported in global.less */
/* File path: less/components/radios/site-custom-radio.less */
/* Reminder: less file already imported in global.less */
/* File path: less/components/toggles/site-toggle-switch.less */
/*----------Gallery Style---------------- */
.comp-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px 12px;
  max-width: none;
  margin: 0 auto;
  padding: 0 0 0 0;
  justify-content: center;
}
.comp-grid-container img {
  max-width: 100%;
}
