/*----------Gallery Style---------------- */
.comp-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px 12px;
  max-width: none;
  margin: 0 auto;
  padding: 0 0 0 0;
  justify-content: center;
}
.comp-grid-container img {
  max-width: 100%;
}
/* note need to divide in 2 becasue this will add in both side */
.comp-community-slider-container {
  padding: 0 0 0 0;
}
.comp-community-slider-container .slick-slide {
  margin: 0 4px;
}
.comp-community-slider-container .slick-list {
  margin: 0 -4px;
}
.comp-community-slider-container img {
  max-width: 100%;
}
/*  Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 40px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}
/* Arrows */
.slick-prev {
  left: -25px;
}
.slick-next {
  right: -25px;
}
.slick-prev,
.slick-next {
  font-size: 24px;
  font-weight: bolder;
  color: #000000;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}
.slick-action-container {
  display: flex;
  justify-content: space-between;
  max-width: 128px;
  margin: 42px auto;
}
/*----------Gallery Style---------------- */
.comp-gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px 12px;
  max-width: none;
  margin: 0 auto;
  padding: 0 0 0 0;
}
.comp-gallery-container .item-gallery {
  position: relative;
}
.comp-gallery-container .primary-content {
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  flex-direction: column;
  font-size: 22px;
  color: #ffffff;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.comp-gallery-container .secondary-content {
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  flex-direction: column;
  font-size: 22px;
  color: #ffffff;
  font-weight: bold;
  justify-content: flex-end;
  align-items: flex-start;
}
.comp-gallery-container img {
  max-width: 100%;
}
.site-global-title.center {
  text-align: center;
}
.site-global-title h2 {
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #a3a3a3;
}
.site-global-title h3 {
  font-size: 75px;
  font-family: 'Unna', serif;
  text-transform: uppercase;
  color: #3d5068;
}
.hp-form {
  padding: 103px 0 118px 0;
  position: relative;
  background: #152238;
  font-size: 0;
}
.hp-form::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../img/contact-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: grayscale(1);
  opacity: 0.12;
  pointer-events: none;
}
.safari-true .hp-form::before {
  background-attachment: scroll;
}
.hp-form .site-global-title.center {
  text-align: center;
  margin: 0 0 -38px;
}
.hp-form .site-global-title h3 {
  color: #fff;
}
.form-holder {
  max-width: 840px;
  margin: 0 auto;
  border-left: 1px solid rgba(255, 255, 255, 0.08);
  border-right: 1px solid rgba(255, 255, 255, 0.08);
  width: 100%;
  padding: 95px 54px 0;
  position: relative;
  font-size: 0;
}
.form-holder::after,
.form-holder::before {
  content: '';
  position: absolute;
  width: 36%;
  height: 1px;
  background: rgba(255, 255, 255, 0.08);
  top: 0;
  left: 0;
  pointer-events: none;
}
.form-holder::before {
  left: initial;
  right: 0;
}
.bottom-line {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: 0;
  left: 0;
}
.bottom-line::after,
.bottom-line::before {
  content: '';
  position: absolute;
  width: 44.4%;
  height: 1px;
  background: rgba(255, 255, 255, 0.08);
  bottom: 0;
  left: 0;
  pointer-events: none;
}
.bottom-line::before {
  left: initial;
  right: 0;
}
.form-md {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  margin: 0 0 44px;
}
.form-lg {
  width: 100%;
  padding: 0;
}
.form-md.pad-right {
  padding-right: 15px;
}
.form-md.pad-left {
  padding-left: 15px;
}
.form-md input,
.form-lg textarea {
  width: 100%;
  background: transparent;
  height: 35px;
  border: none;
  border-bottom: 1px solid #a5a9b1;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  resize: none;
  overflow: hidden;
}
.form-lg textarea {
  height: 88px;
}
.form-btn {
  text-align: center;
  margin: 59px 0 0;
}
.form-btn input {
  width: 37px;
  height: 33px;
  background: url(../img/send-icon.png) no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  margin: 0 0 -20px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.form-btn input:hover {
  opacity: 0.6;
}
.form-holder div.wpcf7-response-output {
  font-size: 15px;
  text-align: center;
  position: absolute;
  bottom: -59px;
  margin: 0;
  width: 100%;
  left: 0;
  color: #fff;
}
.form-holder span.wpcf7-not-valid-tip {
  font-size: 15px;
}
.form-holder .wpcf7-form-control-wrap {
  display: block;
}
.form-holder div.wpcf7 .ajax-loader {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -19px;
}
.form-holder .use-floating-validation-tip .wpcf7-not-valid-tip {
  position: absolute;
  top: 0;
  width: 180px;
}
/* already included in global-style.less*/
/* Reminder: less file already imported in global.less */
/* File path: less/components/checkboxes/site-custom-checkbox.less */
/* already included in global-style.less*/
/* less/component/_headings.less */
/* Reminder: less file already imported in global.less */
/* File path: less/components/form-groups/site-form-group.less */
/* already included in global-style.less*/
/* already included in global-style.less*/
/* less/component/_modal.less */
/* less/component/_paragraphs.less */
/* Reminder: less file already imported in global.less */
/* File path: less/components/radios/site-custom-radio.less */
/* Reminder: less file already imported in global.less */
/* File path: less/components/toggles/site-toggle-switch.less */
