/*----------Gallery Style---------------- */
.comp-community-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px 12px;
  max-width: none;
  margin: 0 auto;
  padding: 0 0 0 0;
  justify-content: center;
}
.comp-community-container img {
  max-width: 100%;
}
