/* ===================== Style Guidline Site ======================== */
/* ===================== Background ======================== */
/* ===================== Text Font Sizes ======================== */
/* ===================== HEADING Colors ======================== */
/* ===================== TEXT Colors ======================== */
/* ===================== TEXT INPUT Colors ======================== */
/* ===================== Style Guidline Site  ======================== */
/* ===================== PARAGRAPH Colors ======================== */
/* ===================== LINK Colors ======================== */
/* ===================== ICON Colors ======================== */
/* ===================== Style Guidline Border Color ======================== */
/* ===================== Style Guidline Border Color ======================== */
/* ===================== Style Guidline Color ======================== */
/* ===================== Heading Font Sizes ======================== */
/* ===================== Heading Font Sizes ======================== */
/* ===================== Brand Colors ======================== */
/* ===================== Ui Colors ======================== */
/* ===================== Color Scheme ======================== */
.page-color-container .comp-color-container .color-list-container {
  display: flex;
  flex-wrap: wrap;
}
.page-color-container .comp-color-container .color-box {
  width: 25%;
}
.page-color-container .comp-color-container .brand-box {
  border-bottom: solid 4px #DDDDDD;
  margin-bottom: 12px;
}
.page-color-container .comp-color-container .upper-box-up-main {
  width: 80%;
  height: 100px;
  background: #32BCF1;
  display: flex;
  align-items: flex-end;
  padding-left: 15px;
  border-radius: 6px;
  margin-bottom: 15px;
  border: 1px solid #DDDDDD;
  margin-right: 20px;
}
.page-color-container .comp-color-container .upper-box-up-main label {
  font-size: 14px;
  color: #ffffff;
}
.page-color-container .comp-color-container .upper-box-up-main .color-text-tertiary {
  color: #000000;
}
.page-color-container .comp-color-container .upper-box-up-second {
  width: 80%;
  height: 100px;
  background: #C30075;
  display: flex;
  align-items: flex-end;
  padding-left: 15px;
  border-radius: 6px;
  margin-bottom: 15px;
  border: 1px solid #DDDDDD;
  margin-right: 20px;
}
.page-color-container .comp-color-container .upper-box-up-second label {
  font-size: 14px;
  color: #ffffff;
}
.page-color-container .comp-color-container .upper-box-up-second .color-text-tertiary {
  color: #000000;
}
.page-color-container .comp-color-container .upper-box-up-dark {
  width: 80%;
  height: 100px;
  background: #F5DF03;
  display: flex;
  align-items: flex-end;
  padding-left: 15px;
  border-radius: 6px;
  margin-bottom: 15px;
  border: 1px solid #DDDDDD;
  margin-right: 20px;
}
.page-color-container .comp-color-container .upper-box-up-dark label {
  font-size: 14px;
  color: #ffffff;
}
.page-color-container .comp-color-container .upper-box-up-dark .color-text-tertiary {
  color: #000000;
}
.page-color-container .comp-color-container .upper-box-up-dark label {
  color: #333333;
}
.page-color-container .comp-color-container .upper-box-up-light {
  width: 80%;
  height: 100px;
  background: #1A1A1A;
  display: flex;
  align-items: flex-end;
  padding-left: 15px;
  border-radius: 6px;
  margin-bottom: 15px;
  border: 1px solid #DDDDDD;
  margin-right: 20px;
}
.page-color-container .comp-color-container .upper-box-up-light label {
  font-size: 14px;
  color: #ffffff;
}
.page-color-container .comp-color-container .upper-box-up-light .color-text-tertiary {
  color: #000000;
}
.page-color-container .comp-color-container .upper-box-ui-primary {
  width: 80%;
  height: 100px;
  background: #135FA7;
  display: flex;
  align-items: flex-end;
  padding-left: 15px;
  border-radius: 6px;
  margin-bottom: 15px;
  border: 1px solid #DDDDDD;
  margin-right: 20px;
}
.page-color-container .comp-color-container .upper-box-ui-primary label {
  font-size: 14px;
  color: #ffffff;
}
.page-color-container .comp-color-container .upper-box-ui-primary .color-text-tertiary {
  color: #000000;
}
.page-color-container .comp-color-container .upper-box-ui-secondary {
  width: 80%;
  height: 100px;
  background: #F8F136;
  display: flex;
  align-items: flex-end;
  padding-left: 15px;
  border-radius: 6px;
  margin-bottom: 15px;
  border: 1px solid #DDDDDD;
  margin-right: 20px;
}
.page-color-container .comp-color-container .upper-box-ui-secondary label {
  font-size: 14px;
  color: #ffffff;
}
.page-color-container .comp-color-container .upper-box-ui-secondary .color-text-tertiary {
  color: #000000;
}
.page-color-container .comp-color-container .upper-box-ui-error {
  width: 80%;
  height: 100px;
  background: #C30075;
  display: flex;
  align-items: flex-end;
  padding-left: 15px;
  border-radius: 6px;
  margin-bottom: 15px;
  border: 1px solid #DDDDDD;
  margin-right: 20px;
}
.page-color-container .comp-color-container .upper-box-ui-error label {
  font-size: 14px;
  color: #ffffff;
}
.page-color-container .comp-color-container .upper-box-ui-error .color-text-tertiary {
  color: #000000;
}
.page-color-container .comp-color-container .upper-box-ui-auxilary {
  width: 80%;
  height: 100px;
  background: #1BB91F;
  display: flex;
  align-items: flex-end;
  padding-left: 15px;
  border-radius: 6px;
  margin-bottom: 15px;
  border: 1px solid #DDDDDD;
  margin-right: 20px;
}
.page-color-container .comp-color-container .upper-box-ui-auxilary label {
  font-size: 14px;
  color: #ffffff;
}
.page-color-container .comp-color-container .upper-box-ui-auxilary .color-text-tertiary {
  color: #000000;
}
.page-color-container .comp-color-container .upper-box-ui-primary-hover {
  width: 80%;
  height: 100px;
  background: #084179;
  display: flex;
  align-items: flex-end;
  padding-left: 15px;
  border-radius: 6px;
  margin-bottom: 15px;
  border: 1px solid #DDDDDD;
  margin-right: 20px;
}
.page-color-container .comp-color-container .upper-box-ui-primary-hover label {
  font-size: 14px;
  color: #ffffff;
}
.page-color-container .comp-color-container .upper-box-ui-primary-hover .color-text-tertiary {
  color: #000000;
}
.page-color-container .comp-color-container .upper-box-ui-primary-light {
  width: 80%;
  height: 100px;
  background: #137ADA;
  display: flex;
  align-items: flex-end;
  padding-left: 15px;
  border-radius: 6px;
  margin-bottom: 15px;
  border: 1px solid #DDDDDD;
  margin-right: 20px;
}
.page-color-container .comp-color-container .upper-box-ui-primary-light label {
  font-size: 14px;
  color: #ffffff;
}
.page-color-container .comp-color-container .upper-box-ui-primary-light .color-text-tertiary {
  color: #000000;
}
.page-color-container .comp-color-container .upper-box-ui-rating {
  width: 80%;
  height: 100px;
  background: #FEC72E;
  display: flex;
  align-items: flex-end;
  padding-left: 15px;
  border-radius: 6px;
  margin-bottom: 15px;
  border: 1px solid #DDDDDD;
  margin-right: 20px;
}
.page-color-container .comp-color-container .upper-box-ui-rating label {
  font-size: 14px;
  color: #ffffff;
}
.page-color-container .comp-color-container .upper-box-ui-rating .color-text-tertiary {
  color: #000000;
}
.page-color-container .comp-color-container .upper-box-ui-hover {
  width: 80%;
  height: 100px;
  background: #CCCCCC;
  display: flex;
  align-items: flex-end;
  padding-left: 15px;
  border-radius: 6px;
  margin-bottom: 15px;
  border: 1px solid #DDDDDD;
  margin-right: 20px;
}
.page-color-container .comp-color-container .upper-box-ui-hover label {
  font-size: 14px;
  color: #ffffff;
}
.page-color-container .comp-color-container .upper-box-ui-hover .color-text-tertiary {
  color: #000000;
}
.page-color-container .comp-color-container .upper-box-ui-light {
  width: 80%;
  height: 100px;
  background: #F5F5F5;
  display: flex;
  align-items: flex-end;
  padding-left: 15px;
  border-radius: 6px;
  margin-bottom: 15px;
  border: 1px solid #DDDDDD;
  margin-right: 20px;
}
.page-color-container .comp-color-container .upper-box-ui-light label {
  font-size: 14px;
  color: #ffffff;
}
.page-color-container .comp-color-container .upper-box-ui-light .color-text-tertiary {
  color: #000000;
}
.page-color-container .comp-color-container .upper-box-gray-primary-bg {
  width: 80%;
  height: 100px;
  background: #3F3F3F;
  display: flex;
  align-items: flex-end;
  padding-left: 15px;
  border-radius: 6px;
  margin-bottom: 15px;
  border: 1px solid #DDDDDD;
  margin-right: 20px;
}
.page-color-container .comp-color-container .upper-box-gray-primary-bg label {
  font-size: 14px;
  color: #ffffff;
}
.page-color-container .comp-color-container .upper-box-gray-primary-bg .color-text-tertiary {
  color: #000000;
}
.page-color-container .comp-color-container .upper-box-gray-secondary-bg {
  width: 80%;
  height: 100px;
  background: #B3B3B3;
  display: flex;
  align-items: flex-end;
  padding-left: 15px;
  border-radius: 6px;
  margin-bottom: 15px;
  border: 1px solid #DDDDDD;
  margin-right: 20px;
}
.page-color-container .comp-color-container .upper-box-gray-secondary-bg label {
  font-size: 14px;
  color: #ffffff;
}
.page-color-container .comp-color-container .upper-box-gray-secondary-bg .color-text-tertiary {
  color: #000000;
}
.page-color-container .comp-color-container .upper-box-gray-tertiary-bg {
  width: 80%;
  height: 100px;
  background: #EFEFEF;
  display: flex;
  align-items: flex-end;
  padding-left: 15px;
  border-radius: 6px;
  margin-bottom: 15px;
  border: 1px solid #DDDDDD;
  margin-right: 20px;
}
.page-color-container .comp-color-container .upper-box-gray-tertiary-bg label {
  font-size: 14px;
  color: #ffffff;
}
.page-color-container .comp-color-container .upper-box-gray-tertiary-bg .color-text-tertiary {
  color: #000000;
}
.page-color-container .comp-color-container .upper-box-gray-fourth-bg {
  width: 80%;
  height: 100px;
  background: #F5F5F5;
  display: flex;
  align-items: flex-end;
  padding-left: 15px;
  border-radius: 6px;
  margin-bottom: 15px;
  border: 1px solid #DDDDDD;
  margin-right: 20px;
}
.page-color-container .comp-color-container .upper-box-gray-fourth-bg label {
  font-size: 14px;
  color: #ffffff;
}
.page-color-container .comp-color-container .upper-box-gray-fourth-bg .color-text-tertiary {
  color: #000000;
}
.page-color-container .comp-color-container .upper-box-gray-fifth-bg {
  width: 80%;
  height: 100px;
  background: #FFFFFF;
  display: flex;
  align-items: flex-end;
  padding-left: 15px;
  border-radius: 6px;
  margin-bottom: 15px;
  border: 1px solid #DDDDDD;
  margin-right: 20px;
}
.page-color-container .comp-color-container .upper-box-gray-fifth-bg label {
  font-size: 14px;
  color: #ffffff;
}
.page-color-container .comp-color-container .upper-box-gray-fifth-bg .color-text-tertiary {
  color: #000000;
}
.page-color-container .comp-color-container .lower-box {
  margin-bottom: 67px;
}
.page-color-container .comp-color-container .lower-box .upper-text {
  color: #1976D2;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}
.page-color-container .comp-color-container .lower-box p {
  margin-bottom: 2px;
  font-size: 12px;
  color: #4E4E4E;
}
.page-color-container .comp-color-container .lower-box label {
  font-weight: bold;
  font-size: 12px;
  color: #4E4E4E;
}
.page-color-container .comp-color-container .color-type {
  color: 14px;
  font-size: 18px;
}
/*----------Gallery Style---------------- */
.comp-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px 12px;
  max-width: none;
  margin: 0 auto;
  padding: 0 0 0 0;
  justify-content: center;
}
.comp-grid-container img {
  max-width: 100%;
}
/* note need to divide in 2 becasue this will add in both side */
.comp-community-slider-container {
  padding: 0 0 0 0;
}
.comp-community-slider-container .slick-slide {
  margin: 0 4px;
}
.comp-community-slider-container .slick-list {
  margin: 0 -4px;
}
.comp-community-slider-container img {
  max-width: 100%;
}
/*  Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 40px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}
/* Arrows */
.slick-prev {
  left: -25px;
}
.slick-next {
  right: -25px;
}
.slick-prev,
.slick-next {
  font-size: 24px;
  font-weight: bolder;
  color: #000000;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}
.slick-action-container {
  display: flex;
  justify-content: space-between;
  max-width: 128px;
  margin: 42px auto;
}
/*----------Gallery Style---------------- */
.comp-gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px 12px;
  max-width: none;
  margin: 0 auto;
  padding: 0 0 0 0;
}
.comp-gallery-container .item-gallery {
  position: relative;
}
.comp-gallery-container .primary-content {
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  flex-direction: column;
  font-size: 22px;
  color: #ffffff;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.comp-gallery-container .secondary-content {
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  flex-direction: column;
  font-size: 22px;
  color: #ffffff;
  font-weight: bold;
  justify-content: flex-end;
  align-items: flex-start;
}
.comp-gallery-container img {
  max-width: 100%;
}
.site-global-title.center {
  text-align: center;
}
.site-global-title h2 {
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #a3a3a3;
}
.site-global-title h3 {
  font-size: 75px;
  font-family: 'Unna', serif;
  text-transform: uppercase;
  color: #3d5068;
}
.hp-form {
  padding: 103px 0 118px 0;
  position: relative;
  background: #152238;
  font-size: 0;
}
.hp-form::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../img/contact-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: grayscale(1);
  opacity: 0.12;
  pointer-events: none;
}
.safari-true .hp-form::before {
  background-attachment: scroll;
}
.hp-form .site-global-title.center {
  text-align: center;
  margin: 0 0 -38px;
}
.hp-form .site-global-title h3 {
  color: #fff;
}
.form-holder {
  max-width: 840px;
  margin: 0 auto;
  border-left: 1px solid rgba(255, 255, 255, 0.08);
  border-right: 1px solid rgba(255, 255, 255, 0.08);
  width: 100%;
  padding: 95px 54px 0;
  position: relative;
  font-size: 0;
}
.form-holder::after,
.form-holder::before {
  content: '';
  position: absolute;
  width: 36%;
  height: 1px;
  background: rgba(255, 255, 255, 0.08);
  top: 0;
  left: 0;
  pointer-events: none;
}
.form-holder::before {
  left: initial;
  right: 0;
}
.bottom-line {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: 0;
  left: 0;
}
.bottom-line::after,
.bottom-line::before {
  content: '';
  position: absolute;
  width: 44.4%;
  height: 1px;
  background: rgba(255, 255, 255, 0.08);
  bottom: 0;
  left: 0;
  pointer-events: none;
}
.bottom-line::before {
  left: initial;
  right: 0;
}
.form-md {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  margin: 0 0 44px;
}
.form-lg {
  width: 100%;
  padding: 0;
}
.form-md.pad-right {
  padding-right: 15px;
}
.form-md.pad-left {
  padding-left: 15px;
}
.form-md input,
.form-lg textarea {
  width: 100%;
  background: transparent;
  height: 35px;
  border: none;
  border-bottom: 1px solid #a5a9b1;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  resize: none;
  overflow: hidden;
}
.form-lg textarea {
  height: 88px;
}
.form-btn {
  text-align: center;
  margin: 59px 0 0;
}
.form-btn input {
  width: 37px;
  height: 33px;
  background: url(../img/send-icon.png) no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  margin: 0 0 -20px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.form-btn input:hover {
  opacity: 0.6;
}
.form-holder div.wpcf7-response-output {
  font-size: 15px;
  text-align: center;
  position: absolute;
  bottom: -59px;
  margin: 0;
  width: 100%;
  left: 0;
  color: #fff;
}
.form-holder span.wpcf7-not-valid-tip {
  font-size: 15px;
}
.form-holder .wpcf7-form-control-wrap {
  display: block;
}
.form-holder div.wpcf7 .ajax-loader {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -19px;
}
.form-holder .use-floating-validation-tip .wpcf7-not-valid-tip {
  position: absolute;
  top: 0;
  width: 180px;
}
/* already included in global-style.less*/
/* Reminder: less file already imported in global.less */
/* File path: less/components/checkboxes/site-custom-checkbox.less */
/* already included in global-style.less*/
/* less/component/_headings.less */
/* Reminder: less file already imported in global.less */
/* File path: less/components/form-groups/site-form-group.less */
/* already included in global-style.less*/
/* already included in global-style.less*/
/* less/component/_modal.less */
/* less/component/_paragraphs.less */
/* Reminder: less file already imported in global.less */
/* File path: less/components/radios/site-custom-radio.less */
/* Reminder: less file already imported in global.less */
/* File path: less/components/toggles/site-toggle-switch.less */
/* Sub Menu */
#nav li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
#nav > li:first-child {
  margin-left: 0;
}
#nav > li {
  margin-left: 8px;
}
#nav > li::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 10px;
  background: url(img/nav-arrow.png) no-repeat;
  background-size: cover;
  background-position: center;
  bottom: -30px;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  pointer-events: none;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#nav > li:hover::after {
  opacity: 1;
  bottom: -14px;
}
#nav li a {
  color: #fff;
  font-size: 8px;
  letter-spacing: 0.1em;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#nav .sub-menu {
  list-style: none outside none;
  margin: 0;
  display: none;
  padding: 0;
  position: absolute;
  width: 100%;
  min-width: 200px;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 23px;
}
#nav .sub-menu a {
  color: #FFFFFF;
  display: block;
  padding: 10px;
  background: rgba(21, 34, 56, 0.65);
  text-align: center;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0;
  position: relative;
}
#nav .sub-menu li:last-child a::after {
  display: none;
}
#nav .sub-menu a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  pointer-events: none;
  bottom: 0;
  left: 0;
}
#nav .sub-menu a:hover {
  background: none repeat scroll 0 0 #b2b2b2;
  color: #000000;
  text-decoration: none;
}
#nav .sub-menu .sub-menu {
  top: -16px;
  left: initial;
  margin-left: 100%;
  transform: translateX(0);
}
#nav li:hover > .sub-menu {
  display: block;
}
#nav .sub-menu li {
  position: relative;
  display: block;
  width: 100%;
}
/* Header */
ul {
  padding: 0;
}
.header-wrapper {
  position: relative;
}
header.header {
  background: rgba(21, 34, 56, 0.4);
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1010;
  padding: 16px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
header.header.show-fixed {
  background: rgba(9, 17, 34, 0.65);
  padding: 23px 0 27px;
}
header.header.show-fixed .header-logo img {
  max-width: 293px;
  width: 100%;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-info {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 0 28px;
}
.hdr-inner {
  display: flex;
  align-items: flex-end;
}
.header-phone span {
  font-size: 14px;
  padding-right: 10px;
}
.header-phone {
  padding-right: 38px;
}
.header-phone em {
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.05em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header-email span {
  font-size: 10px;
  letter-spacing: 0.05em;
  padding-right: 10px;
}
.header-email a {
  font-size: 16px;
  color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header-phone em:hover,
.header-email a:hover {
  opacity: 0.6;
}
/* End Header */
/* burger menu*/
.burger-menu {
  width: 53px;
  cursor: pointer;
  margin-left: 43px;
  margin-bottom: 3px;
}
.burger-menu span {
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  margin: 0 0 12px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.burger-menu span:first-child {
  width: 34px;
  margin-left: auto;
}
.burger-menu span:last-child {
  margin: 0;
}
.burger-menu:hover span:first-child {
  width: 100%;
}
.bm-drop {
  position: fixed;
  z-index: 1032;
  top: 0;
  left: 0;
  right: initial;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.bm-drop {
  z-index: 1035;
}
.bm-view.is-open {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.bm-menu {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 0;
  letter-spacing: 0;
  z-index: 1036;
  visibility: hidden;
  height: 100%;
  width: 100%;
  max-width: 1250px;
  background: #ccc;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.bm-content {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.bm-inner {
  padding: 102px 90px 20px 75px;
}
/* end burger */
/* Burger Menu */
.bm-menu {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 0;
  letter-spacing: 0;
  z-index: 1036;
  visibility: hidden;
  height: 100%;
  width: 100%;
  max-width: 650px;
  /* max-width: 1250px; */
  background: #fff;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0 0 0 3.2%;
}
.bm-inner {
  padding: 102px 90px 33px 0;
  width: 100%;
  max-width: 508px;
}
.bm-logo a img {
  padding: 0 0 35px 0;
}
.burger-navs {
  color: #0e1d31;
}
ul#nav2 {
  display: flex;
  flex-wrap: wrap;
}
ul#nav2 li a {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
ul#nav2 li a:hover {
  opacity: 0.5;
}
ul#nav2 > li {
  width: calc(100% / 2);
}
ul#nav2 > li:nth-child(2n + 2) {
  position: relative;
  left: -31px;
}
ul#nav2 li:last-child {
  width: 100%;
  left: 0;
}
#nav2 li a {
  display: inline-block;
  padding: 0 0 15px 0;
  color: #0e1d31;
  font-size: 15px;
  letter-spacing: 0.1em;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#nav2 li .sub-menu li a {
  font-family: 'Roboto', sans-serif;
  color: #8b8b8b;
  font-size: 14px;
}
.burger-info {
  font-size: 13px;
}
.burger-info p {
  text-transform: uppercase;
  font-size: 45px;
  font-family: 'Unna', serif;
  margin: 0;
  padding: 62px 0 29px 0;
}
.burger-details {
  display: flex;
  justify-content: space-between;
}
.burger-phone span {
  padding: 0 6px 0 0;
}
.burger-email span {
  padding: 0 6px 0 0;
}
.burger-phone a,
.burger-email a {
  font-size: 16px;
}
.burger-smi {
  font-size: 21px;
  margin-top: 21px;
}
.burger-smi a + a {
  margin-left: 19px;
}
p.copyright {
  padding: 27px 0 24px 0;
  font-size: 11px;
}
footer {
  background: red;
}
/*******************************************************
 *
 * Mobile styles and other media queries
 *
 *******************************************************/
/* iPad(landscape) | iPad(landscape) | Galaxy Tab 4 (landscape) | Galaxy Tab 3 (landscape) */
@media only screen and (max-width: 1450px) {
  /* 1366px */
}
@media only screen and (max-width: 1365px) {
  /* 1200 */
}
@media only screen and (max-width: 1199px) {
  /* 992 */
}
/* iPad(portrait) | Galaxy Tab 4(portrait)  */
@media only screen and (max-width: 991px) {
  /* The following are used on inner pages. Please edit carefully. */
  .inner {
    width: 100%;
  }
  #content-sidebar,
  #content-full {
    width: 100%;
  }
  .outer {
    width: 100%;
    min-width: 100%;
  }
  #content-sidebar #content {
    width: 100%;
  }
}
/* Galaxy Tab 3(portrait) | Galaxy S5(landscape) */
@media only screen and (max-width: 767px) {
  .ip-banner .container {
    width: 100%;
  }
}
/* Galaxy S5(portrait) | iPod Touch(landscape) | iPod Touch(portrait) */
/* less/jsExample/_clickme.less */
.click {
  cursor: pointer;
  position: relative;
  left: 0;
  transition: left 0.25s;
  background: #ccf9bf;
  padding: 20px 40px;
  display: inline-block;
}
.clickAnimate {
  left: 80%;
}
/* less/readme/_settings.less */
/* less/readme/_sidebars.less */
/* less/ISD-GUIDE/_APPLICATIONS.less */
/* less/ISD-GUIDE/_WpSetup.less */
/* less/ISD-GUIDE/_VSCodeCodingGuidelines.less */
/* less/ISD-GUIDE/_widget-setup.less */
